.preview-order-text {
    text-align: center;
    font-weight: bold;
    color: green;
}

button.btn.btn-primary {
    background-color: green;

}

button.btn.btn-primary:hover {
    background-color: rgb(50, 205, 50)
}

.place-order-edit-btn {
    text-decoration: none;
    color: black;
    cursor: pointer;
}